/target
.idea
.DS_Store
.vscode
/tmp

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock

# Ignore the el-cl-genesis-data and validator-keys directories under testdata/layer2/pos
testdata/layer2/pos/el-cl-genesis-data/
testdata/layer2/pos/validator-keys/